@model List<Casgem_CodeFirstProject.DAL.Entities.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Rezervasyon Listesi</h2>

<table class="table table-bordered">
    <tr>
       <th>#</th>
    <th>Müşteri Adı</th>
    <th>Mail</th>
    <th>Rota</th>
    <th>SÜre</th>
    <th>Tarih</th>
    <th>Sil</th>
    <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookingID</td>
            <td>@item.CustomerName</td>
            <td>@item.Mail</td>
            <td>@item.Destination</td>
            <td>@item.Duration</td>
            <td>@item.BookingDate</td>
            <td><a href="/AdminBooking/DeleteBooking/@item.BookingID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminBooking/UpdateBooking/@item.BookingID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>